
<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/common/header :: head"></div>
<body>
	<section id="container">
		<div th:replace="admin/common/header :: header"></div>
		<div th:replace="admin/common/sidebar :: sidebar"></div>
		<!--sidebar end-->
		<section id="main-content">


			<section class="wrapper">
				<div>

					<form th:action="@{/admin/user/search}" method="get">
						<input type="text" name="name">
						<button type="submit" class="btn btn-primary">Tim</button>
					</form>

				</div>


				<table class="table table-striped table-dark">
					<tr>
						<td>Id</td>
						<td>Name</td>
						<td>Age</td>
						<td>Role</td>
						<td>Username</td>
						<td>Status</td>
						<td>Address</td>
						<td>Gender</td>
						<td>Phone</td>
						<td>Email</td>
						<td>Option</td>
					</tr>
					<tr th:each="user:${userList}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.age}"></td>
						<td th:text="${user.role}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.enabled}"></td>
						<td th:text="${user.address}"></td>
						<td th:text="${user.gender}"></td>
						<td th:text="${user.phone}"></td>
						<td th:text="${user.email}"></td>
						<td><a class="btn btn-primary btn-xs"
							th:href="@{'/admin/user/update?id='+${user.id}}"><i
								class="fa fa-pencil"></i></a> | <a class="btn btn-danger btn-xs"
							th:href="@{'/admin/user/delete?id='+${user.id}}"><i
								class="fa fa-trash-o "></i></a></td>
					</tr>
				</table>
				<div th:if="${result &gt; 0}">
				<ul class="pagination">
				<li class="page-item">					<a th:class="${i == currentPage ? 'activePage' : '' }"
						th:href="@{'/admin/user/search?page=' + ${i}} +'&name=' +${name}"
						th:each="i : ${#numbers.sequence( 1, result)}"
						th:text="${ i }+'  '"></a>	</li>
				</ul>

				</div>
			</section>
			<!-- /wrapper -->
		</section>
		<!-- /MAIN CONTENT -->
		<!--main content end-->
		<!--footer start-->
		<div th:replace="admin/common/footer :: footer"></div>
		<!--footer end-->
	</section>
</body>

</html>


