<div th:fragment="footer">

	<footer class="site-footer">
		<div class="text-center">
			<p>
				&copy; Copyrights <strong>VuongTien</strong>. All Rights Reserved
			</p>
			<div class="credits">
				Contac Us <a href="https://templatemag.com/">Click This</a>
			</div>
			<a href="grid.html#" class="go-top"> <i class="fa fa-angle-up"></i>
			</a>
		</div>
	</footer>

	<!-- js placed at the end of the document so the pages load faster -->
	<script th:src="@{/lib/jquery/jquery.min.js}" type="text/javascript"></script>

	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script class="include" type="text/javascript"
		th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
	<script th:src="@{/lib/jquery.scrollTo.min.js}" type="text/javascript"></script>
	<script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
	<!--common script for all pages-->
	<script th:src="@{/lib/common-scripts.js}" type="text/javascript"></script>
	<!--script for this page-->


</div>